.containerPackage {
    display:block;
    margin-top:150px;
    width:90%;
    margin-right:auto;
    margin-left:auto;
}

.btn {
    background: #bacad4 !important;
    background-image: -webkit-linear-gradient(top, #bacad4, #535c61) !important;
    background-image: -moz-linear-gradient(top, #bacad4, #535c61) !important;
    background-image: -ms-linear-gradient(top, #bacad4, #535c61) !important;
    background-image: -o-linear-gradient(top, #bacad4, #535c61) !important;
    background-image: linear-gradient(to bottom, #bacad4, #535c61) !important;
    -webkit-border-radius: 28 !important;
    -moz-border-radius: 28 !important;
    border-radius: 28px !important;
    font-family: Arial !important;
    color: #ffffff !important;
    font-size: 20px !important;
    padding: 10px 20px 10px 20px !important;
    text-decoration: none !important;
}

.btn:hover {
    background: #f5d36c !important;
    background-image: -webkit-linear-gradient(top, #f5d36c, #edb739) !important;
    background-image: -moz-linear-gradient(top, #f5d36c, #edb739) !important;
    background-image: -ms-linear-gradient(top, #f5d36c, #edb739) !important;
    background-image: -o-linear-gradient(top, #f5d36c, #edb739) !important;
    background-image: linear-gradient(to bottom, #f5d36c, #edb739) !important;
    text-decoration: none !important;
}

.TryIt {
    display:block;
    left:605px !important;
    position:absolute;
}

.LikeIt {
    display:block;
    left:790px !important;
    position:absolute;
}

.LoveIt {
    display:block;
    left:970px !important;
    position:absolute;
}