*{
    margin:0em;
    padding:0em;
    outline:0;
}


header, section, footer, aside, nav, article {
    display:block;
}

html{
    background:#DC143C;
    height:100%;
    min-width:100%;
}

body{
    /*position:relative;
    float:right;*/
    display:block !important;
    width:90%;
    margin-right:auto !important;
    margin-left:auto !important;
    background: -webkit-linear-gradient(#EEE8AA, #F0E68C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#EEE8AA, #F0E68C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#EEE8AA, #F0E68C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#EEE8AA, #F0E68C); /* Standard syntax */
    border:0.1em black solid;
}

#logo {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#leftNote {
    display:block;
    position:absolute;
    left:420px !important;
    top:150px !important;
}

#rightNote {
    display:block;
    position:absolute;
    left:750px !important;
    top:170px !important;
}

#logo img {
    display:block;
    width:400px;
    height:400px;
    margin-left:auto;
    margin-right:auto;
}

h1 {
    color:goldenrod;
}

#title {
    display:block;
    margin-left:130px;
    margin-top:25px;
}

#content {
    display:block;
    margin-left:auto;
    margin-right:auto;
    border:3px dashed white;
    height:450px;
    width:900px;
    margin-top:50px;
    padding:50px 50px 50px 50px;
}

#info {
    display:block;
    float:left;
    /*margin-top:50px;*/
}

#map {
    display:block;
    float:right;
    /*margin-top:50px;*/
}

h3 {
    line-height:50px;
}

footer {
    width:100%;
    height:9em;
    margin-top:150px;
    background:black;
    background:rgba(0,0,0,0.5);
    border-top: 0.063em solid rgba(0,0,0,0.3);
    box-shadow: inset 0 0.063em rgba(255,255,255,0.3),inset 0 0.625em rgba(255,255,255,0.2)
    ,inset 0 0.625em 1.25em rgba(255,255,255,0.25),inset 0 -0.938em 1.875em rgba(0,0,0,0.3);
}


.containerlogin {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display:none;
    background:rgba(0,0,0,0.9);
    z-index:9000000 !important;
}

.containerlogin * {
    font-family:'Source Sans Pro', sans-serif;
}

.log-in-dialog {
    display:block;
    margin-top:12.5em;
    margin-left:auto;
    margin-right:auto;
    height:auto;
    /*width:21.875em;*/
    width:25em;
    background:white;
}

.log-in-dialog .log-in-header{
    background:#F4F4F2;
    width:21.875em;
    height:2.375em;
}

.log-in-dialog .log-in-header .header-title {
    display:block;
    color:#666666;
    font-weight:bold;
    font-size:1em;
    padding:0.625em 1.25em;
}

.log-in-dialog .dialog-body {
    display:block;
    padding:1.25em;
}

.log-in-dialog .dialog-body input[type="text"],
.log-in-dialog .dialog-body input[type="password"]{
    height:40px !important;
    width:90% !important;
    padding:0.5em !important;
}

.log-in-dialog .dialog-body label {
    font-size:0.875em;
    color:#666666;
}

.log-in-dialog .dialog-body .btns {
    display:block;
    width:100%;
    margin-top:1.875em;
    margin-bottom:4.375em;
    text-align:center;
    cursor:pointer;
}

.log-in-dialog .dialog-body .btns .btnLeft {
    display:block;
    float:left;
    width:50%;
    height:39px !important;
    color:white;
    background:#F4F4F2;
}

.log-in-dialog .dialog-body .btns .btnLeft:hover {
    background:#E4E4E2;
}

.log-in-dialog .dialog-body .btns .btnRight input[type="button"]{
    float:right !important;
    width:45% !important;
    height:2.82em !important;
    color:#666666 !important;
    background:#7AB2F7 !important;
    border:none !important;
    cursor:pointer !important;
}

.log-in-dialog .dialog-body .btns .btnRight input[type="button"]:hover {
    background:#6EA0DE !important;
}

.log-in-dialog .dialog-body .btns a {
    display:block;
    padding:0.625em 1.250em;
    text-decoration:none;
}

.log-in-dialog .dialog-body .btns .btnLeft a {
    color:#666666;
}

.log-in-dialog .dialog-body .btns .btnRight input[type="button"] {
    color:white !important;
    font-family: 'Source Sans Pro', sans-serif;
}

.forgotPassword {
    display:block;
    text-decoration:none;
    font-size:0.875em;
    color:#ED6347;
}

.forgotPassword:hover {
    text-decoration:underline;
}

button {
    margin:0 auto;
    font-size:1.0em;
    padding:1em 2em;
    display:block;
    background-color:#009ac9;
    border:1px solid transparent;
    color:#ffffff;
    font-weight:300;
    -webkit-border-radius:3px;
    border-radius:3px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    position:absolute;
}

.loginButton {
    top:10px !important;
    right:80px !important;
}

button:hover {
    background-color:#ffffff;
    color:#009ac9;
    border-color:#009ac9;
}

.homeButton {
    top:270px !important;
    left:70px !important;
}

.contactButton {
    top:270px !important;
    left:160px !important;
}

.aboutButton {
    top:270px !important;
    left:285px !important;
}

blockquote {
    font-family:Georgia, serif;
    color:#030303;
    font-style:italic;
    font-size:20px;
    line-height:27px;
    width:340px;
    display:block;
    position:absolute;
    top:20px;
}

footer #contents {
    display:block;
    margin-left:70px;
    margin-top:30px;
}